.btn-w-h {
    width: 50px;
    height: 50px;
}

.input-wh {
    width: 215px;
    height: 100px;

}

.bg-color {
    border: 5px solid #0D6EFD;
    border-radius: 8px;
    width: 250px;
    height: 380px;
}