.calcBorder {
    background-color: #ccc;
    height: 80vh;
    margin-top: 100px;

}

#screen {
    background-color: black;
    border-radius: 8px;
    height: 80px;
    padding: 8px;
    color: white;
    font-size: 42px;
    overflow: hidden;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;

}
#clear {
    height: 80px;
    padding: 8px;
    color: white;
    font-size: 42px;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
}
.numbers {
    border-radius: 15px;
}